@import 'tailwindcss';

.container {
  @apply mx-auto max-w-screen-2xl;
}

@layer base {
  ul {
    list-style: disc;
    padding-left: 1.5rem;
  }

  ol {
    list-style: decimal;
    padding-left: 1.5rem;
  }
}
