.match-input-height {
  height: 56px !important;
  min-height: 56px !important;
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 !important;
}

.quantity-field {
  display: block; // Rimosso flex per non interferire con MDC internals

  .mat-mdc-text-field-wrapper {
    height: 56px !important;
    min-height: 56px !important;
  }

  .mat-mdc-form-field-flex {
    height: 56px !important;
    align-items: center !important;
  }

  .mat-mdc-form-field-infix {
    min-height: 56px !important;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  // Rimuove spazi extra e margini
  margin: 0 !important;
  
  .mat-mdc-form-field-subscript-wrapper {
    display: none; // Forza la sparizione dello spazio per sottoscritti se dynamic non basta
  }
}


