.shop-progress {
  height: 4px;
}

.shop-progress ::ng-deep .mdc-linear-progress__bar-inner {
  border-color: #7d007d;
}

.shop-progress ::ng-deep .mdc-linear-progress__track {
  background-color: rgba(125, 0, 125, 0.18);
}
