<div class="mt-32 flex flex-col gap-8 lg:flex-row">
  <div class="lg:w-3/4">
    <mat-stepper #stepper class="bg-white border border-gray-200 shodow-sm">
      <mat-step label="Address">
        <div id="address-element"></div>
        <div class="flex justify-between mt-6">
          <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
          <button mat-flat-button (click)="goToShipping(stepper)">Next</button>
        </div>
      </mat-step>

      <mat-step label="Shipping">
        <div class="flex justify-between mt-6">
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Payment">
        <div class="flex justify-between mt-6">
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Confirmation"> Review form </mat-step>
    </mat-stepper>
  </div>
  <div class="lg:w-1/4">
    <app-order-summary
      [subtotal]="subtotal()"
      [discount]="discount()"
      [shippingCost]="shippingCost()"
      [orderTotal]="orderTotal()"
      [showCheckoutCta]="false"
    ></app-order-summary>
  </div>
</div>
