<div class="mt-32 flex flex-col gap-8 lg:flex-row">
  <div class="lg:w-3/4">
    <mat-stepper #stepper class="bg-white border border-gray-200 shodow-sm">
      <mat-step label="Address"> Address form </mat-step>
      <mat-step label="Shipping"> Delivery form </mat-step>
      <mat-step label="Payment"> Payment form </mat-step>
      <mat-step label="Confirmation"> Review form </mat-step>
    </mat-stepper>
  </div>
  <div class="lg:w-1/4">
    <app-order-summary [showCheckoutCta]="false"></app-order-summary>
  </div>
</div>
