<div class="w-full">
  <mat-radio-group
    class="grid grid-cols-2 gap-4"
    [value]="checkoutService.selectedDeliveryMethod()?.id ?? null"
    (change)="onDeliveryMethodChange($event)"
  >
    @for (method of checkoutService.deliveryMethods; track method.id) {
      <label class="p-3 border border-gray-200 cursor-pointer w-full h-full hover:bg-purple-100">
        <mat-radio-button class="w-full h-full" [value]="method.id">
          <div class="flex flex-col w-full h-full">
            <strong>
              {{ method.shortName }} - {{ method.price | currency: 'USD' : 'symbol' }}
            </strong>
            <span class="text-sm">{{ method.description }}</span>
          </div>
        </mat-radio-button>
      </label>
    }
  </mat-radio-group>
</div>
