<mat-card appearance="raised">
  <img src="{{ product?.pictureUrl }}" alt="image of {{ product?.name }}" />
  <mat-card-content>
    <a
      class="text-sm font-semibold uppercase hover:underline"
      [routerLink]="['/shop', product?.id]"
      >{{ product?.name }}</a
    >
    <p class="font-ligh">{{ product?.price | currency }}</p>
    <mat-card-actions>
      <button mat-stroked-button class="w-full">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to cart
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
