.cart-icon {
  align-items: center;
  display: inline-flex;
  height: 44px;
}

.cart-icon mat-icon {
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.active {
  color: #7d007d;
  font-weight: 700;
}

nav a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.mobile-menu .active,
.mobile-menu .active mat-icon {
  color: #7d007d;
}

